html,
body {
  font-family: "Rubik", sans-serif;

  width: 100%;
  height: 100%;
  position: relative;

  overflow: hidden;

  /* display: grid */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr; */
}

body:before {
  content: "";
  position: absolute;
  width: 19%;
  height: 85%;
  top: 0;
  left: 0;
  border-radius: 0 0 20rem 20rem;
  transform: translateX(-20%);
  background-image: linear-gradient(
    225deg,
    var(--light-magenta),
    var(--light-violet)
  );
  z-index: -1;
}

body:after {
  content: "";
  position: absolute;
  width: 19%;
  height: 85%;
  bottom: 0;
  right: 0;
  border-radius: 20rem 20rem 0 0;
  transform: translateX(50%);
  opacity: 0.1;
  background-image: linear-gradient(
    225deg,
    var(--light-magenta),
    var(--light-violet)
  );
  z-index: -1;
}

img {
  display: block;
}

.illustration--container {
  min-width: 100px;
  max-height: 80%;
  /* width: 400px;
  background-color: var(--white);
  padding: 1.2rem;
  border-radius: 3rem;
  box-shadow: 0 0 4rem 0.1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto; */
  margin: 0 100px;
}

.illustration--body {
  background-color: hsl(270, 20%, 96%);
  border-radius: 2rem;
  padding-bottom: 1rem;
  position: relative;
}

.illustration--body:before {
  content: "";
  width: 50%;
  height: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--white);
}

.chat-header {
  background-image: linear-gradient(
    140deg,
    var(--light-violet),
    var(--light-magenta)
  );
  border-radius: 2rem 2rem 0 0;
  padding: 3rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user--details {
  display: flex;
  width: 100%;
  align-items: center;
}

.arrrow {
  margin: 0 2rem;
}

.user--image {
  margin: 0 1em;
}

.user--image img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.fas {
  font-size: 1.2rem;
  color: white;
}

.user--name {
  font-size: 1.2rem;
  color: white;
}

.user-status {
  font-size: 0.8rem;
  color: var(--very-dark-violet);
}

.chat-body {
  list-style: none;
  padding: 1rem;
}

.chat-left {
  color: hsl(276, 55%, 52%);
  background-color: #eee5f4;
  border-radius: 10px 10px 10px 3px;
  max-width: 52%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.chat-right {
  color: hsl(271, 15%, 43%);
  background-color: white;
  border-radius: 10px 10px 3px 10px;
  max-width: 53%;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem auto;
  box-shadow: 0 1rem 0.5rem -0.5rem rgb(62 39 83 / 5%);
}
/* * Content container */

.content--container h1 {
  font-size: 3rem;
  font-weight: var(--lg--weight);
  color: var(--very-dark-violet);
  margin-bottom: 1rem;
}

.content--container p {
  color: var(--dark-grayish-violet);
  line-height: 1.6;
  max-width: 45%;
}
